* {
	font-family: Inter Display, JetbrainsMono Nerd Font;
	font-size: 15px;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 0px;
}

#waybar {
	background-color: #1f2335;
	color: #c6d0f5;
}

#workspaces {
	border-radius: 5px;
}

#workspaces button {
	color: #babbf1;
	border-radius: 5px;
	padding: 0.2rem;
	margin: 0.2rem;
}

#workspaces button.active {
	background-color: #414868;
	border-radius: 5px;
}

#workspaces button:hover {
	color: #85c1dc;
	border-radius: 5px;
}

#tray,
#clock,
#pulseaudio,
#network {
	padding: 0.5rem 1rem;
	border-radius: 0px 5px 5px 0px;
}

#clock {
	border-radius: 5px;
	margin-right: 1rem;
}

#pulseaudio {
	color: #ff757f;
	border-radius: 5px 0px 0px 5%;
	margin-left: 1rem;
}

#tray {
	margin-left: 1rem;
	border-radius: 5px;
}
